	</div>

	<div id="page-footer" class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				&copy; 2016
				<a href="http://vegannadine.com/">vegannadine.com</a>
			</div>
			<div class="col-md-6">
				powered by
				<a href="https://mfreiholz.de/" target="_blank">mfreiholz.de</a>
			</div>
	</div>
	
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" 
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" 
			crossorigin="anonymous"></script>

	<link href="/thirdparty/bootstrap-3.3.7-dist/css/bootstrap.min.css"
			rel="stylesheet"
			type="text/css">
	<script src="/thirdparty/bootstrap-3.3.7-dist/js/bootstrap.min.js"
			type="text/javascript"></script>
			
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Roboto|Montez"
			rel="stylesheet">

	<link href="/style.css"
			rel="stylesheet"
			type="text/css">

</body>

</html>