html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
#page-header {
}
#page-header h1 {
	font-family: 'Montez', cursive;
	font-size: 4.0em;
	padding: 0;
	margin: 0;
	line-height: 2em;
}
#page-slider {
	background-image: url('/images/cover-coconut-1.jpg');
	background-position: 50% 50%;
	background-repeat: repeat-x;
	height: 350px;
	opacity: 0.5;
}
#page-content {
	position: relative;
	background: rgb(255, 255, 255);
	margin-top: -8em;
	padding: 1em;
	box-shadow: 0px 0px 6px 0px #bbbbbb;
}
#page-content .row {
	margin-bottom: 1em;
}
#page-content a {
	color: rgb(102, 153, 0);
	text-decoration: none;
}
#page-content a:hover {
	text-decoration: underline;
}

/****************** Navigation ***********************************************/

.navbar-default {
	background: transparent;
	border: 0;
}

/****************** Posts ****************************************************/

.posts-index .post {
}

.posts-index .post-image {
	height: 150px;
	border: 0;
	padding-top: 90px;
}

.posts-index .post-image-overlay {
	background: rgb(255, 255, 255);
	opacity: 0.9;
	padding-left: 1.0em;
}

.posts-index .post-title a {
	color: rgb(102, 153, 0);
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 2.0em;
}

.posts-index .post-content {
	color: #999;
	line-height: 1.5em;
	padding: 1.3em;
}

.posts-index .post-footer {
	padding: 0 1.3em;
	color: #555555;
}

.posts-index .post-footer .post-date {
	font-size: 0.8em;
}

/****************** single post **********************************************/

.post-single .post-title {
	color: rgb(102, 153, 0);
	font-family: 'Amatic SC', cursive;
	font-size: 2.0em;
	font-weight: bold;
}

.post-single .post-content h1, h2, h3 {
	color: rgb(102, 153, 0);
	font-family: 'Amatic SC', cursive;
	font-size: 1.8em;
}

.post-single .post-content {
	color: rgb(50, 50, 50);
	line-height: 1.5em;
}