html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.image-padding {
	padding: 2em;
}
/****************** page header **********************************************/

#page-header {
}

#page-header h1 {
	font-family: 'Montez', cursive;
	font-size: 4.0em;
	padding: 0;
	margin: 0;
	line-height: 2em;
}

#page-slider {
	background-image: url('images/cover-coconut-1.jpg');
	background-position: 50% 50%;
	background-repeat: repeat-x;
	height: 350px;
	opacity: 0.5;
}

/****************** page content *********************************************/

#page-content {
	position: relative;
	background: rgb(255, 255, 255);
	margin-top: -8em;
	padding: 1em;
	box-shadow: 0px 0px 6px 0px #bbbbbb;
}

#page-content .row {
	margin-bottom: 1em;
}

#page-content a {
	color: rgb(102, 153, 0);
	text-decoration: none;
}

#page-content a:hover {
	text-decoration: underline;
}

/****************** page footer **********************************************/

#page-footer {
	font-size: 0.8rem;
	padding: 24px;
	text-align: center;
	color: #999;
}

/****************** navigation ***********************************************/

.navbar-default {
	background: transparent;
	border: 0;
}

/****************** index ****************************************************/

.posts-index .post-image {
	height: 150px;
	border: 0;
	padding-top: 90px;
}

.posts-index .post-image-overlay {
	background: rgb(255, 255, 255);
	opacity: 0.9;
	padding-left: 1.0em;
}

.posts-index .post-title a {
	color: rgb(102, 153, 0);
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 2.0em;
}

.posts-index .post-content {
	color: #555;
	line-height: 1.5em;
	padding: 1.3em;
}

.posts-index .post-footer {
	padding: 0 1.3em;
	color: #999;
}

.posts-index .post-footer .post-date {
	font-size: 0.8em;
}

@media(max-width: 990px) {
	.posts-index .post {
		margin-bottom: 1rem;
	}
}

/****************** single post **********************************************/

.post-single .post-title {
	color: rgb(102, 153, 0);
	font-family: 'Amatic SC', cursive;
	font-size: 2.0em;
	font-weight: bold;
}

.post-single .post-date {
	color: #999;
	padding: 1.0rem 0;
}

.post-single .post-content {
	color: rgb(50, 50, 50);
	line-height: 1.5em;
}

.post-single .post-content h1, h2, h3 {
	color: rgb(102, 153, 0);
	font-family: 'Amatic SC', cursive;
	font-size: 1.8em;
}

.post-single .post-content h2 {
	font-size: 1.7rem;
}

.post-single .post-content h3 {
	font-size: 1.6rem;
}

.post-single .post-content blockquote {
	font-size: 1.0rem;
	font-style: italic;
}

.post-single .post-content figure,
.post-single .post-content img,
.post-single .post-content img {
	max-width: 100%;
}
